.container {
	height: 100vh;
	width: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

button {
	all: unset;
	padding: 16px 32px;
	font-size: large;
	border: solid;
	border-color: red;
	justify-self: flex-start;
}

.squares {
	display: grid;
	grid-template-columns: repeat(12, minmax(10px, 1fr));
	height: 400px;
	width: 400px;
	border: solid;
}

