.container {
	height: 100vh;
	width: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

button {
	all: unset;
	padding: 16px 32px;
	font-size: large;
	border: solid;
	border-color: red;
	justify-self: flex-start;
}

.squares {
	display: grid;
	grid-template-columns: repeat(12, minmax(10px, 1fr));
	height: 100%;
	width: 100%;
}

.square {
	border: solid;
	border-radius: 5px;
	border-color: black;
	transition: all 1s ease-out;
}

.square:hover {
	background-color: red;
}
